# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.gz binary
*.zip binary
